@page
@model GroupUp.Areas.My.Pages.GroupsModel
@{
    ViewData["Title"] = "Groups";
}

<h1>My Groups</h1>

<hr />

<div class="container">
    <partial name="_GroupsList" model="Model.GroupsList" />
</div>