@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<form class="form-horizontal" method="get">
    <div class="form-group">
        <label for="Name" class="col-sm-12 control-label">Search for a group:</label>
        <div class="col-sm-12">
            <input type="text" class="form-control" name="Name">
        </div>
    </div>
</form>