@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">GroupUp</h1>
    <p>Find your people to group up with!</p>
    <a class="btn btn-primary" asp-area="Groups" asp-page="/New">Add new group</a>
</div>
<form class="form-horizontal" method="get">
    <div class="form-group">
        <label for="Name" class="col-sm-12 control-label">Search for a group:</label>
        <div class="col-sm-12">
            <input type="text" class="form-control" name="Name">
        </div>
    </div>
</form>

<div class="container">
    <partial name="_GroupsList" model="Model.GroupsList" />
</div>
