@model List<GroupUp.Models.Group>

@foreach (var group in Model)
{
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@group.Name</h5>
                    <p class="card-text">Group description.</p>
                    <form action="/" method="post">
                        <input type="hidden" asp-for="@group.Id" class="form-control" />
                        @Html.AntiForgeryToken()
                        <button type="submit" class="card-link">Join</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
}
